<!DOCTYPE html>
<html>


{% block header %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Mixer Port</title>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='The Mixer.svg') }}">
</head>
{% endblock %}


<body>
    <!-- Header -->
    <header>


            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        
        {% block navbarTop %}

        <!--the navbar header with all the important stuff and gunk-->
        <nav class="navbar navbar-custom navbar-expand-lg">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">The Mixer Port</a>

            <!-- The navbar's Brand Image-->
            <a class="navbar-brand" href="#">
            <img src="./static/img/The Mixer.svg" alt="Mixer Icon" width="30" height="24">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">


                <!-- CHANGE HREFS TO THE OTHER PLACES BEFORE SUBMITTING!!!!! -->
                <a class="nav-link" aria-current="page" href="./index.html">Home</a>

                <a class="nav-link" href="./history.html">History</a>
                    
                <a class="nav-link" href="create.html">Create Event</a>


                    <button type="button" class="btn btn-primary position-absolute end-0" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login
                    </button>

                    

                </div>
            </div>
            </div>
        </nav>

        {% endblock %}

    </header>

    {% block content %}

    {% endblock %}


    {% block footer %}
    <footer class="footer">
        <!-- Your footer should go here -->
    </footer>
    {% endblock %}

</body>

</html>