<!DOCTYPE html>
<html>

  {% extends "base.html" %}

  {% block title %} New Event {% endblock %}

    <body>



      {% block content %}
      <h2>Create New Event</h2>


      <div class="container">

        <div class="row-cols-1">
            <form>
                <label for="eventTitle" class="form-label" >Event Name</label>
                <input type="text" id="eventTitle" class="form-control">

                <label for="eventDate" class="form-label" >Date of Event</label>
                <input type="date" id="eventDate" class="form-control">

                <label for="eventDescription" class="form-label">Description of Event</label>
                <textarea type="text" id="eventDescription" class="form-control" rows="10"></textarea>

                <label for="eventLocation" class="form-label">Location</label>
                <input type="text" id="eventLocation" class="form-control">


            </form>



            
        </div>

        <br>

        <div class="row row-cols-md-2 row-cols-sm-1 row-cols-xs-1">

        <div class="column">
        <h3>Offerings</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="alcoholCheck">
            <label class="form-check-label" for="alcoholCheck">
                Alcohol
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="seafoodCheck">
            <label class="form-check-label" for="seafoodCheck">
                Seafood
            </label>
        </div>
        </div>


        <div class="column">
        <label for="ticketNumbers"><h3>Number of Tickets Allotted</h3></label>
        <input class="form-control" type="number">

        <br>

        <label for="eventImage"><h3>Event Thumbnail</h3></label> <br>
        <input type="file" id="eventImage">
        </div>

        </div>

        <label>Acknowledgement of Country</label>
            <select class="form-select" aria-label="acknowledgementOptions">
                <option selected value="1">No Acknowledgement Provided</option>
                <option value="2">Generic Acknowledgement Provided</option>
                <option value="3">Advanced Acknowledgement Provided</option>

             </select>


        <br>

        <!-- Add Submit Button / Confirmation Modal--> 
      <a class="btn btn-primary">Submit</a>

      </div>






      
      {% endblock %}
    </body>


</html>