<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Mixer Port</title>
        <script src="./static/styles/bootstrap.bundle.js"></script>
        <link href="./static/styles/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="./static/styles/styles.css">
        <link rel="icon" type="image/x-icon" href="./static/img/The Mixer.svg">
    </header>

    <body>


    <!--the navbar header with all the important stuff and gunk-->
      <nav class="navbar navbar-custom navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">The Mixer Port</a>

         <!-- The navbar's Brand Image-->
         <a class="navbar-brand" href="#">
           <img src="./static/img/The Mixer.svg" alt="Mixer Icon" width="30" height="24">
           </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <!-- CHANGE HREFS TO THE OTHER PLACES BEFORE SUBMITTING!!!!! -->
              <a class="nav-link" href="./index.html">Home</a>

               <a class="nav-link active" aria-current="page" href="./history.html">History</a>
                
               <a class="nav-link" href="create.html">Create Event</a>



            </div>
          </div>
        </div>
      </nav>


      <!-- The column for history will essentially be a long  list of cards-->

      <!-- Those cards contain both what sort of event was created, along with -->


      <br>
      <div class="container col-12">
      <h2>Ticket History</h2>

      <br>

      <h3>
        Upcoming Events
      </h3>


      <div class="card mb-3">
        <div class="card-header">
          17th September 4:00pm
        </div>
        <div class="card-body">
          <h5 class="card-title">Pub Crawl</h5>
          <p class="card-text">An innocent pub crawl. All invited, IDs checked at beginning of crawl before continuing onwards.   <span class="badge text-bg-secondary">3 Tickets bought.</span></p>
          <p class="card-text">Location: Regular Bar</p>

          <a href="#" class="btn btn-danger">Cancel Ticket</a>
        </div>
      </div>

      <br>



      <br>


      <h3>
        Previous Events
      </h3>
      
      <div class="card mb-3">
        <div class="card-header">
          4th May 12:00pm
        </div>
        <div class="card-body">
          <h5 class="card-title">Speakeasy Treat</h5>
          <p class="card-text">There's a meeting at a Speakeasy.   <span class="badge text-bg-secondary">9 Tickets bought.</span></p>
          <p class="card-text">Location: Lorem Ipsum Speakeasy</p>

        </div>
      </div>

      </div>

      
    <!-- Footer -->
    <div class="container-fluid" style="padding:0;margin:0">
      
    <footer class="d-flex flex-row  justify-content-between align-items-center py-3  my-4 mb-3 border-top">
    <p class="col-md-4 mb-0 text-muted">(Copyright, The Mixer Port 2026)</p>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="./index.html" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="./event.html" class="nav-link px-2 text-muted">Event</a></li>
      <li class="nav-item"><a href="./history.html" class="nav-link px-2 text-muted">History</a></li>
      <li class="nav-item"><a href="./payment.html" class="nav-link px-2 text-muted">Payment</a></li>
      <li class="nav-item"><a href="./create.html" class="nav-link px-2 text-muted">Create</a></li>
    </ul>



    </footer>
    </div>
    </body>





</html>