<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}History{% endblock %}

<html>

  {% block content %}

      <!-- The column for history will essentially be a long  list of cards-->

      <!-- Those cards contain both what sort of event was created, along with -->


      <br>
      <div class="container col-12">
      <h2>Ticket History</h2>

      <br>

      <h3>
        Upcoming Events
      </h3>


      <div class="card mb-3">
        <div class="card-header">
          17th September 4:00pm
        </div>
        <div class="card-body">
          <h5 class="card-title">Pub Crawl</h5>
          <p class="card-text">An innocent pub crawl. All invited, IDs checked at beginning of crawl before continuing onwards.   <span class="badge text-bg-secondary">3 Tickets bought.</span></p>
          <p class="card-text">Location: Regular Bar</p>

          <a href="#" class="btn btn-danger">Cancel Ticket</a>
        </div>
      </div>

      <br>



      <br>


      <h3>
        Previous Events
      </h3>
      
      <div class="card mb-3">
        <div class="card-header">
          4th May 12:00pm
        </div>
        <div class="card-body">
          <h5 class="card-title">Speakeasy Treat</h5>
          <p class="card-text">There's a meeting at a Speakeasy.   <span class="badge text-bg-secondary">9 Tickets bought.</span></p>
          <p class="card-text">Location: Lorem Ipsum Speakeasy</p>

        </div>
      </div>

      </div>

      
      {% endblock %}
    </body>





</html>