<!DOCTYPE html>

<html lang="eng">
    
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", intial-scale=1>
        <title> The Mixer Port</title>
        <script src="{{ url_for('static', filename='styles/bootstrap.bundle.js') }}"></script>
        <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/The Mixer.svg') }}">
    
    {% block header %}
    {% endblock %}
    </head>

    <header>
        


    </header>
    <!-- Footer -->
    <div class="container-fluid" style="padding:0,margin"0">
        <footer class="d-flex flex-row justify-content-between align-items-center py-3 my-5 mb-3 border-top> 
            <p class="col-mod-4 mb-0 text-muted">(Copyright, The Mixer Port 2026)</p>
            <ul class="nav col-md-4 justify-content-end">
                <li class=


</html>
